<div class="row">
  <span class="span8">
    <% @blogs.each do |blog| %>
      <h2><%= link_to blog.title, blog %></h2>
      <div><%= morebreak(blog.content).html_safe %></div>
      
      <div>
        <% if can? :read, @blog %>
        <span><%= link_to '显示全文', blog %></span>
        <% end %>
        <% if can? :edit, @blog %>
        <span><%= link_to '编辑', edit_blog_path(blog) %></span>
        <% end %>
        <% if can? :destroy, @book %>
        <span>
          <%= link_to '删除', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
        <% end %>
      </div>
      <hr />
    <% end %>
  </span>
  <span class="span4">
    
    <div class="widgets">
      <h5>最新文章</h5>
      <ul>
        <% @blogs.each do |blog| %>
          <li><%= link_to blog.title, blog %></li>
        <% end %>
      </ul>      
    </div>
    
    <div class="widgets">
      <h5>标签</h5>
      <ul>
        <% Tag.all.each do |tag| %>
          <li><%= link_to tag.name, "#" %></li>
        <% end %>
      </ul>      
    </div>

  </span>
</div>

<% if can? :edit, @blog %>
<%= link_to '新建博客', new_blog_path %>
<% end %>

