<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @blog.title %></h1>
  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_style" style="height:30px;" >
  	<span class="jiathis_txt">分享到：</span>
  	<a class="jiathis_button_tools_1"></a>
  	<a class="jiathis_button_tools_2"></a>
  	<a class="jiathis_button_tools_3"></a>
  	<a class="jiathis_button_tools_4"></a>
  	<a href="http://www.jiathis.com/share?uid=1588775" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
  	<a class="jiathis_counter_style"></a>
  </div>
  <script type="text/javascript">
  var jiathis_config = {data_track_clickback:'true'};
  </script>
  <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1588775" charset="utf-8"></script>
  <!-- JiaThis Button END -->
</div>

<div><%= @blog.content.html_safe %></div>
<div><%= join_tags(@blog) %></div>

<div>
  <span><%= link_to '返回上页', blogs_path %></span>
  <% if can? :edit, @blog %>
  <span><%= link_to '编辑', edit_blog_path(@blog) %></span>
  <% end %>
  <% if can? :destroy, @book %>
  <span>
    <%= link_to '删除', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  <% end %>
</div>



<hr />
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1588775" async=""></script>
<!-- UY END -->
<hr />
<!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1588775"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->

